<nav class="nav">
    <main class="main">
        <div class="list">
            <div class="index">목차</div>
            <div class="title">제목</div>
            <div class="author">글쓴이</div>
            <div class="date">날짜</div>
            <div class="views">조회수</div>
        </div>
        <div class="body">
            <div class="info">
                <div class="list">
                    <div class="index">목차</div>
                    <div class="title"><a href="/create/1/" class="to_create" >제목</a></div>
                    <div class="author">글쓴이</div>
                    <div class="date">날짜</div>
                    <div class="views">조회수</div>
                </div>
            </div>
            <div class="info">
                <div class="list">
                    <div class="index">목차</div>
                    <div class="title"><a href="/create/" class="to_create" >제목</a></div>
                    <div class="author">글쓴이</div>
                    <div class="date">날짜</div>
                    <div class="views">조회수</div>
                </div>
            </div>
            <div class="info">
                <div class="list">
                    <div class="index">목차</div>
                    <div class="title"><a href="/create/" class="to_create" >제목2</a></div>
                    <div class="author">글쓴이</div>
                    <div class="date">날짜</div>
                    <div class="views">조회수</div>
                </div>
            </div>
            <div class="info">
                <div class="list">
                    <div class="index">목차</div>
                    <div class="title"><a href="/create/" class="to_create" >제목</a></div>
                    <div class="author">글쓴이</div>
                    <div class="date">날짜</div>
                    <div class="views">조회수</div>
                </div>
            </div>
            <div class="info">
                <div class="list">
                    <div class="index">목차</div>
                    <div class="title"><a href="/create/" class="to_create" >제목</a></div>
                    <div class="author">글쓴이</div>
                    <div class="date">날짜</div>
                    <div class="views">조회수</div>
                </div>
            </div>
        </div>
        <div class="page">
            <button class="bt"><</button>
            <button class="bt">1</button>
            <button class="bt">2</button>
            <button class="bt">3</button>
            <button class="bt">4</button>
            <button class="bt">5</button>
            <button class="bt">></button>
        </div>
        <div class="bottom">
            <a href="/post/"><button class="enroll">글쓰기</button></a>
            <button class="extra">버튼2</button>
            <button class="extra">버튼3</button>
        </div>
    </main>
    <aside class="aside">미래를 위한 여분공간</aside>
</nav>