
html{
    font-size: 15px;
}
.textarea{
    width: 500px;
    height: 200px;
    border-radius: 8px;
    
}
.text{
    border: 1px solid;
    border-radius: 4px;
}
.post_title{
    border-top: solid 2px;
    display: flex;
    flex-direction: row;
}
.board_wrap{
    width: 1000px;
    margin: 100px auto;
    
}
.board_title{
    margin-bottom: 30px;
}
.board_title strong {
    font-size: 2rem;
}
.board_title p {
    
    margin-top: 0px;
}
.bt_b{
    width: 96px;
    height: 48px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    border-radius: 8px;
}
.bt_b:hover{
    cursor: pointer;
}
.bt_w{
    width: 96px;
    height: 48px;
    border: 1px solid;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 8px;
}
.bt_w:hover{
    cursor: pointer;
}

